<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<Body>
    <br>

    <button class="hover-button" style="display: inline-block; margin-left: 1457.4px;" (click)="openLogoutDialog()" title="Logout">
        <i class="fas fa-sign-out-alt"></i>
    </button>

    <div class="container">
        <mat-card class="card" (click)="EMP_PROFILE()" title="Employee Profile">
            <img src="/assets/4565.jpg" alt="Image 1" class="card-image">
            <div class="card-content">
                <h4 style="text-align: center;">EMPLOYEE<br>PROFILE</h4>
                <p style="text-align: justify;">Discover comprehensive employee profiles in our Employee Portal,
                    providing valuable insights and information about our dedicated team members. <i>To know more
                        details click here</i></p>
            </div>
        </mat-card>

        <mat-card class="card" (click)="EMP_LEAVE()" title="Leave Data">
            <img src="/assets/image9.png" alt="Image 2" class="card-image">
            <div class="card-content">
                <h4 style="text-align: center;">LEAVE<br>DATA</h4>
                <p style="text-align: justify;">Access up-to-date leave data at your fingertips, empowering you to
                    manage and track your time off seamlessly within our Employee Portal. <i>To know more details click
                        here</i></p>
            </div>
        </mat-card>

        <mat-card class="card" (click)="EMP_PAYSLIP()" title="Employee Pay slip">
            <img src="/assets/12345.jpg" alt="Image 3" class="card-image">
            <div class="card-content">
                <h4 style="text-align: center;">EMPLOYEE<br>PAY SLIP</h4>
                <p style="text-align: justify;">Effortlessly view and download your detailed employee pay slips,
                    ensuring transparency and convenience through our user-friendly Employee Portal. <i>To know more
                        details click here</i></p>
            </div>
        </mat-card>
    </div>
</Body>