<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<br>
<div class="header">
    <img src="/assets/KAAR.png" class="logo" alt="Logo" title="Home" (click)="openNavigationConfirmationDialog()">
    <h1 style="text-align: center;">CREDIT MEMO</h1>
    <br>
    <div class="scrollit">

        <style>
            button {
                display: inline-block;
                padding: 10px 20px;
                color: #fefefe;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            div {
                margin-bottom: 20px;
            }
        </style>
        <div>
            <button class="hover-button" style="display: inline-block; margin-left: 10px;" routerLink="/fin-details"
                title="Back">
                <i class="fas fa-arrow-left"></i>
            </button>

            <button class="hover-button" style="display: inline-block; margin-left: 1392px;" (click)="openLogoutDialog()" title="Logout">
                <i class="fas fa-sign-out-alt"></i>
            </button>

            <button class="print-button" (click)="printPage()" title="Print"
                style="display: inline-block; margin-left: -145px;"><span class="print-icon"></span></button>
            <div class="loader" *ngIf="loading" style="display: inline-block; margin-left: -672px;"></div>
        </div>
        <div class="container">
            <div class="content">
                <p><strong>NUMBER OF CREDIT MEMOS :</strong> {{ arrayLength }}</p>
                <div class="search-container">
                    <input type="text" [(ngModel)]="searchText" placeholder="Search...">
                    <span class="clear-icon" (click)="clearSearch()"><i class="fas fa-times"></i></span>
                    <button class="footer-button" (click)="footerButtonClicky()">LEARN MORE</button>
                </div>
                <table class="table table-striped">
                    <style>
                        table,
                        th {
                          user-select: none;
                        }
                        td {
                          border: 1px solid black;
                          user-select: text;
                        }
                      </style>
                    <thead style="background-color:#D21404;color: #fefefe;">
                        <tr>
                            <th (click)="sortColumn('GJAHR')">FISCAL YEAR <span [ngClass]="getSortIcon('GJAHR')"></span>
                            </th>
                            <th (click)="sortColumn('AUGDT')">CLEARING DATE <span
                                    [ngClass]="getSortIcon('AUGDT')"></span></th>
                            <th (click)="sortColumn('BELNR')">DOCUMENT NUMBER <span
                                    [ngClass]="getSortIcon('BELNR')"></span>
                            </th>
                            <th (click)="sortColumn('PSWBT')">AMOUNT <span [ngClass]="getSortIcon('PSWBT')"></span></th>
                            <th (click)="sortColumn('PSWSL')">CURRENCY <span [ngClass]="getSortIcon('PSWSL')"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let credit of filterData(); let i = index" (click)="openRowDetailsDialog(credit)">
                            <td>{{ credit.GJAHR._text}}</td>
                            <td>{{ formatDate(credit.AUGDT._text) }}</td>
                            <td>{{ formatNum(credit.BELNR._text, i === 0) }}</td>
                            <td>{{ credit.PSWBT._text}}</td>
                            <td>{{ credit.PSWSL._text}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="header">
            <h1 style="text-align: center;">DEBIT MEMO</h1>
            <br>
            <div class="scrollit">
                <div class="container">
                    <div class="content">
                        <p><strong>NUMBER OF DEBIT MEMOS :</strong> {{ arrayLengthy }}</p>
                        <div class="search-container">
                            <input type="text" [(ngModel)]="searchText" placeholder="Search...">
                            <span class="clear-icon" (click)="clearSearched()"><i class="fas fa-times"></i></span>
                            <button class="footer-button" (click)="footerButtonClick()">LEARN MORE</button>
                        </div>
                        <table class="table table-striped">
                            <thead style="background-color:#D21404;color: #fefefe;">
                                <tr>
                                    <th (click)="sortColumn('GJAHR')">FISCAL YEAR <span
                                            [ngClass]="getSortIcon('GJAHR')"></span></th>
                                    <th (click)="sortColumn('AUGDT')">CLEARING DATE <span
                                            [ngClass]="getSortIcon('AUGDT')"></span></th>
                                    <th (click)="sortColumn('BELNR')">DOCUMENT NUMBER <span
                                            [ngClass]="getSortIcon('BELNR')"></span>
                                    </th>
                                    <th (click)="sortColumn('PSWBT')">AMOUNT <span
                                            [ngClass]="getSortIcon('PSWBT')"></span></th>
                                    <th (click)="sortColumn('PSWSL')">CURRENCY <span
                                            [ngClass]="getSortIcon('PSWSL')"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let debit of filterDataa(); let i = index" (click)="openRowDetailsDialog(debit)">
                                    <td>{{ debit.GJAHR._text}}</td>
                                    <td>{{ formatDate(debit.AUGDT._text) }}</td>
                                    <td>{{ formatNum(debit.BELNR._text, i === 0) }}</td>
                                    <td>{{ debit.PSWBT._text}}</td>
                                    <td>{{ debit.PSWSL._text}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>