<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<Body>
    <br>

    <button class="hover-button" style="display: inline-block; margin-left: 1457.4px;" (click)="openLogoutDialog()" title="Logout">
        <i class="fas fa-sign-out-alt"></i>
    </button>

    <div class="container">
        <mat-card class="card" (click)="CUS_PROFILE()" title="Customer Profile">
            <img src="/assets/4565.jpg" alt="Image 1" class="card-image">
            <div class="card-content">
                <h4 style="text-align: center;">CUSTOMER<br>PROFILE</h4>
                <p style="text-align: justify;">Explore a comprehensive view of your customer profile, empowering you
                    with valuable insights and personalized experiences. <i>To know more details click here</i></p>
            </div>
        </mat-card>

        <mat-card class="card" (click)="CUS_DASHBOARD()" title="Customer Dashboard">
            <img src="/assets/3556960.jpg" alt="Image 2" class="card-image">
            <div class="card-content">
                <h4 style="text-align: center;">CUSTOMER DASHBOARD</h4>
                <p style="text-align: justify;">Stay in control and effortlessly manage your customer relationships with
                    our intuitive and interactive customer dashboard. <i>To know more details click here</i></p>
            </div>
        </mat-card>

        <mat-card class="card" (click)="FIN_DETAILS()" title="Financial Details">
            <img src="/assets/45234.jpg" alt="Image 3" class="card-image">
            <div class="card-content">
                <h4 style="text-align: center;">FINANCIAL<br>DETAILS</h4>
                <p style="text-align: justify;">Access and track your financial details seamlessly, ensuring
                    transparency and empowering you to make informed decisions. <i>To know more details click here</i>
                </p>
            </div>
        </mat-card>
    </div>
</Body>